/* .tool-bar-item */
.file-path {
	position: relative;
	padding: 0px 12px;
	font-size: calc(var(--UI-font-size) * 1.1);
	color: var(--label-secondary);
	font-family: "zed-mono";
	font-weight: normal;
	overflow: hidden;
	z-index: 9;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.file-name-item {
	white-space: nowrap;
	/* flex-shrink: 0; */
	margin-right: 8px;
}

.file-path-item {
	overflow: scroll;
	white-space: nowrap;
	color: var(--label-tertiary);
}
.file-path-item::-webkit-scrollbar {
	display: none;
}
